<div class="manCard card employee-card">
    <div class=" manHeader card-header">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"><i class="fas fa-mug-hot mr-2"></i>{{ role }}</h3>
    </div>
    <div class="manBody card-body">
        <ul class="list-group">
            <li class="inputItem list-group-item">ID: {{ id }}</li>
            <li class="inputItem list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="inputItem list-group-item">Office number: {{ officeNumber }}</li>
        </ul>
    </div>
</div>
